# Local .terraform directories
**/.terraform/*
*.terraform.lock.hcl
*.terraform.lock.hcl*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .env files
.env
.envrc

# IDE files
.vscode/
.idea/
